<%= form_for(@sell) do |f| %>
  <% if @sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sell.errors.count, "error") %> prohibited this sell from being saved:</h2>

      <ul>
      <% @sell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 <p id="demo"></p>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script> 
  
  <div class="field">
    <%= f.label :product_id %><br>
   <select name="sell[product_id]">
      <% Product.all.each do |p| %>
    	<option value="<%= p.id %>"><%= p.nombre %></option>
      <% end %>
    </select>
  </div>
 
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
 <div class="field">
    <%= f.label :cliente %><br>
  <select name="sell[client_id]">
      <% Client.all.each do |c| %>
    	<option value="<%= c.id %>"><%= c.nombre %></option>
      <% end %>
    </select> 
  </div>
 
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
